.main_detail {
	width:100vw;
	height:100%;
	display: grid;
	grid-template-columns: 1;
	grid-row: 50px;
	grid-template-areas: 
	"a b"
	"c d"
	"e f"
	"g h"
	"i j"
	;
	
}
.main_detail .item1 {
	background-color: #aaa;
	grid-area: a;
}
.main_detail .item2 {
	background-color: #eee;
	grid-area:b;
}
.main_detail .item3 {
	background-color: #aaa;
	grid-area:c;
}
.main_detail .item4 {
	background-color: #eee;
	grid-area:d;
}
.main_detail .item5 {
	background-color: #aaa;
	grid-area:e;
}
.main_detail .item6 {
	background-color: #eee;
	grid-area: f;
}
.main_detail .item7 {
	background-color: #aaa;
	grid-area: g;
}
.main_detail .item8 {
	background-color: #eee;
	grid-area: h;
}
.main_detail .item9 {
	background-color: #eee;
	grid-area: i;
}
.main_detail .item10 {
	background-color: #aaa;
	grid-area: j;
}